.foodItemsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 35px;
}

@media screen and (min-width: 768px) {
  .foodItemsList {
    justify-content: flex-start;
    margin: auto;
    margin-top: 35px;
    padding-left: 0;
  }
}

.restaurantLoader {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
