.homeBg {
  background-size: cover;
  height: 100%;
}
.restBg {
  background-color: #e5e5e5;
  background-size: cover;
}
.buttonStyle {
  background-color: transparent;
  border-width: 0.5px;
  width: 24px;
  height: 24px;
}
.paginationText {
  font-size: 16px;
  color: #334155;
  font-family: 'DM Sans';
  font-weight: bold;
  line-height: 16px;
  font-style: normal;
}
