.footerBgContainer {
  background-color: #0f172a;
}
.footerImage {
  width: 36.78px;
  height: 28.92px;
  margin-right: 10px;
}
.footerHeading {
  color: #ffffff;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 20px;
  width: 143px;
  font-style: italic;
}
.footerPara {
  color: #ffffff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  margin: 0px;
}
