.paymentContainer {
  width: 312px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentCard {
  background: #ffffff;
  box-shadow: 0px 4.00734px 40.0734px rgba(23, 31, 70, 0.16);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  width: 312px;
  height: 320px;
}

.paymentImage {
  width: 38.4px;
  height: 38.4px;
  margin-bottom: 30px;
}

.paymentHeading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #1e293b;
}
.paymentText {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #64748b;
}

.homeBtn {
  background: #f7931e;
  border-radius: 8px;
  padding: 8px 16px;
  color: #ffffff;
  border: none;
  width: 131px;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
}
